# Ignore node_modules
/node_modules

# Ignore dev-related and test-related files
/dev
/test
/coverage.data
/coverage/

# Idgnore source files
/src

# Ignore all files in the root directory except dist and package.json, LICENSE, README.md
/*
!/dist
!/package.json
!/LICENSE
!/README.md